<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>


<div class="text-center">
  <%= link_to "New Cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>


<div class="row">
  <% @cocktails.each do |c| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <%= link_to c.name, cocktail_path(c) %>

      </div>
    </div>
  <% end %>
</div>

